@CHARSET "UTF-8";

/* .right { background-color:#fff; width:955px; height:auto; overflow:hidden; padding-bottom:50px;margin-top:40px; margin-left:20px; float:left; }
 */
 
.ic_btn { width:100px; height:33px; border:0; background-color:#ebebeb; color:#929292; }

input.ic_btn { width:100px; height:33px; border:0; background-color:#ebebeb; color:#929292; }

