@charset "utf-8";

#regiHead { width:1300px; height:90px; border:1px solid white; background-color: white; margin-bottom: 40px;}
#header { text-align: center; padding-top:10px; }

#regiMain1 { width:635px; height:718px; border:1px solid white; background-color:white; float:left; display:block; }
#regiMain2 { width:635px; height:718px; border:1px solid white; background-color:white; float:left; display:block; margin-left:25px;}

/* #facebook {  width:310px; height:38px; }
#submit { background-color:#8772bf; color: white; width:auto; height:50px; } */

.table_abs {  border:0; margin-top:40px; margin-left:auto; margin-right:auto; height:500px; }
.table_input { height:30px; width:220px; }
#idCheck { height:30px; width:100px; }
.input_td { padding-left:15px; width:220px; }
#submit { background-color:#8772bf; color: white; width:100%; height:50px; margin-top:30px; }
#facebook { width:100%; height:50px; background-color:#3b5998; color:white; }


.choice { width:50px; border:1px solid black; background:#c9c9c9; }

#choose{
	border:1px solid black;
	margin-left:10px;
}

#layer{
	padding: 0 10px 0 10px;
	border: 2px solid #555;
	background: #ebecee;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #767676;
	line-height: normal;
	white-space: normal
}
#layer img{
	width:50px;
	height:50px;
}

.table {
	background-color:orange;
	width: 600px;
	height: 60px !important;
	border: 3px solid #595959;
	border-radius: 3px;
	text-align: center;
	margin-top: 10px;
	color: white;
}
.table th{
	padding-right:30px;
}

.table td {
	border-radius: 2px;
	width: 80px;
	background-color: #a4a4a4;
}