@CHARSET "UTF-8";

.right { background-color:#fff; width:955px; min-height:808px; height:auto; overflow:hidden; margin-top:40px; margin-left:20px; float:left; }
.rightTop > div{float: left;}
.right ol{ /* margin: 0 30px; */ margin-left:20px; }

/* .rigtht_title, .right hr{
	text-align:center;
} */

/* 
.recommend{width: 33%; height: 150px;  float:left; }
.recent{width: 33%; height: 150px;  float:left; }
.most{width: 33%; height: 150px;  float:left; } 
*/

.recommend { width:300px; height:300px; margin-top:11px; margin-left:20px; /* background-color:#e2ffe2; */ }
.recent { width:300px; height:300px; margin-top:11px; /* background-color:#ffe3f6; */ }
.most { width:300px; height:300px; margin-top:11px; /* background-color:#ffd5cb; */ }

.right_title { text-align:center; font-weight:bold; font-size:16px; margin-top:18px; }
.right_title1 { text-align:center; font-weight:bold; font-size:16px; margin-top:18px; }

.cl_p { margin-top:25px; }

/* 기업리스트 */

.clist_div { width:850px; margin-left:44px; /* background-color:#eee; */ }

#interComp { width:850px; margin-left:44px; height:410px; /* background-color:#f9ffbf; */ }

.clist_table { width:615px; height:312px; margin-top:40px; margin-left:116px; }
.clist_tr { width:615px; height:155px; margin-top:2px; }
.clist_td { width:200px; height:150px; margin-left:2px; border:1px solid #aaa; float:left; }









