<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	
	<typeAliases>
		<typeAlias type="model.search.KeywordDTO" alias="keyword"></typeAlias>
		<typeAlias type="model.search.SearchDTO" alias="search"></typeAlias>
		<typeAlias type="model.company.CompanyBasicDTO" alias="companybasic"></typeAlias>
		<typeAlias type="model.member.MemConcernDto" alias="keyword2"></typeAlias>
		<typeAlias type="model.plots.PlotsDto" alias="plts"></typeAlias>		
		<typeAlias type="model.member.MemIdCheckDto" alias="checkid"/>
		<typeAlias type="model.intercompany.InterCompBean" alias="interComp"></typeAlias>
		<typeAlias type="model.member.MemBasicInfoDTO" alias="memBasicInfo"></typeAlias>
		<typeAlias type="model.review.ReviewDto" alias="review"></typeAlias>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappings/KeywordAndSearchMapper.xml"/>
 		<mapper resource="mappings/MemConcernMapper.xml"/>
		<mapper resource="mappings/CompanyBasicMapper.xml"/>
		<mapper resource="mappings/PlotsMapper.xml"/>
		<mapper resource="mappings/ReviewMapper.xml"/>
	</mappers>
</configuration>
