<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyScoDAO">
 	<resultMap type="companySco" id="CompanyScoMap">
		<result column="cid" property="cid" />
		<result column="dateSco" property="dateSco" />
		<result column="marrySco" property="marrySco" />
		<result column="babySco" property="babySco" />
		<result column="houseSco" property="houseSco" />
		<result column="relationSco" property="relationSco" />
		<result column="dreamSco" property="dreamSco" />
		<result column="hopeSco" property="hopeSco" />
	</resultMap>

	<select id="getAll" resultMap="CompanyScoMap">
		SELECT * FROM companyscore
	</select>

	<select id="getById" parameterType="int"  resultMap="CompanyScoMap">
		SELECT *
		FROM companyscore
		WHERE cid = #{cid}
	</select>


	<insert id="insertSCs" ><!-- parameterType="CompanyScoMap" -->
		INSERT INTO companyscore
		VALUES(#{cid},#{dateSco},#{marrySco},#{babySco},#{houseSco},#{relationSco},#{dreamSco},#{hopeSco})
	</insert>
	
	<update id="updateSCs">
		UPDATE companyscore
		SET dateSco=#{dateSco},marrySco=#{marrySco},babySco=#{babySco},houseSco=#{houseSco},relationSco=#{relationSco},dreamSco=#{dreamSco},hopeSco=#{hopeSco}
		WHERE cid=#{cid}
	</update>
</mapper>
