<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InterestedRCDAO">
	<insert id="register">
		insert into InterestedRC values(
			(select nvl(max(rcid),0)+1 from InterestedRC), #{memid}, #{cid}, sysdate, null
		)
	</insert>
	
	<update id="cancel">
		update InterestedRC set canTime = sysdate where memid=#{memid} and cid= #{cid} and canTime is null
	</update>
	
	<select id="selectRelatedOne" resultType="interested">
		select * from InterestedRC where memid=#{memid} and cid=#{cid} and canTime is null
	</select>
	
	<select id="selectRelatedAll" resultType="interested">
		select * from InterestedRC where memid=#{memid} and canTime is null
	</select>
	
	<select id="selectRelatedAllAndMemBasicInFo" resultType="interested">
		select MEMBASICINFO.ID, INTERESTEDRC.REGTIME, INTERESTEDRC.CID, INTERESTEDRC.CANTIME, INTERESTEDRC.MEMID,  from MEMBASICINFO left outer join INTERESTEDRC on MEMBASICINFO.ID = INTERESTEDRC.MEMID where MEMBASICINFO.ID =  #{id};
	</select>
	<!-- <select id="selectRelatedAllAndMemBasicInFo" resultType="comPicture">
		select MEMBASICINFO.ID, INTERESTEDRC.CID "cid", INTERESTEDRC.LOGO,  from MEMBASICINFO left outer join INTERESTEDRC on MEMBASICINFO.ID = INTERESTEDRC.MEMID where MEMBASICINFO.ID =  #{memid} and canTime is null;
	</select>  -->
	
	<select id="selectAll" resultType="interested">
		select * from InterestedRC
	</select>
</mapper>
