<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InterCompDAO">

	<select id="getOneTest" parameterType="int" resultType="interComp">
		SELECT *
		FROM test
		WHERE id = #{id}
	</select>

	<select id="select_list" resultType="interComp">
		SELECT * FROM interComp
	</select>

	<insert id="insertKeyword">
		INSERT INTO keywords VALUES(#{keyword},#{searchedNum})
	</insert>
	
	<select id="selectInterComp" parameterType="String" resultType="companybasic">
		select cid,logo from companyBasicInfo where cid in (select cid from INTERESTEDRC where memid = #{mem} and canTime is null)
	</select>
</mapper>
