<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KeywordAndSearchDAO">
	
	<!-- keyword -->
	<select id="selectOneKeyword" parameterType="String" resultType="keyword">
		SELECT *
		FROM keywords
		WHERE keyword =#{keyword}
	</select>

	<select id="selectAllKeywords" resultType="keyword">
		SELECT * FROM keywords
	</select>
	
	<select id="selectMostSearched" resultType="keyword">
		<![CDATA[ SELECT * FROM (select * from keywords where keyword != '.X'order by searchnum desc) where rownum<=3 ]]> 
	</select>

	<insert id="insertKeyword" parameterType = "String">
		INSERT INTO keywords VALUES(#{keyword}, 0)
	</insert>
	
	<update id="updateKeyword" parameterType="String">
		update keywords set searchnum = searchnum+1 where keyword = #{keyword}
	</update>
	
	<!-- search -->
	<select id="searchByCname" parameterType="String" resultType="companybasic">
		SELECT *
		FROM companybasicinfo
		WHERE cname like '%'||#{keyword}||'%' and
	</select>
	
	<select id="searchByCnameAndFilter" resultType="companybasic">
		SELECT *
		FROM companybasicinfo
		WHERE cname like '%'||#{keyword}||'%'
		<if test='dateget=="T"'>
			AND DATEGET = 'T'
		</if>
		<if test='marryget=="T"'>
			AND MARRYGET = 'T'
		</if>
		<if test='babyget=="T"'>
			AND BABYGET = 'T'
		</if>
		<if test='houseget=="T"'>
			AND HOUSEGET = 'T'
		</if>
		<if test='relationget=="T"'>
			AND RELATIONGET = 'T'
		</if>
		<if test='dreamget=="T"'>
			AND DREAMGET = 'T'
		</if>
		<if test='hopeget=="T"'>
			AND HOPEGET = 'T'
		</if>
		
		<if test='dateloss=="T"'>
			AND DATEGET != 'F'
		</if>
		<if test='marryloss=="T"'>
			AND MARRYGET != 'F'
		</if>
		<if test='babyloss=="T"'>
			AND BABYGET != 'F'
		</if>
		<if test='houseloss=="T"'>
			AND HOUSEGET != 'F'
		</if>
		<if test='relationloss=="T"'>
			AND RELATIONGET != 'F'
		</if>
		<if test='dreamloss=="T"'>
			AND DREAMGET != 'F'
		</if>
		<if test='hopeloss=="T"'>
			AND HOPEGET != 'F'
		</if>
	</select>
	
	<select id="searchByFilter" resultType="companybasic">
		SELECT *
		FROM companybasicinfo
		WHERE cname is not null
		<if test='dateget=="T"'>
			AND DATEGET = 'T'
		</if>
		<if test='marryget=="T"'>
			AND MARRYGET = 'T'
		</if>
		<if test='babyget=="T"'>
			AND BABYGET = 'T'
		</if>
		<if test='houseget=="T"'>
			AND HOUSEGET = 'T'
		</if>
		<if test='relationget=="T"'>
			AND RELATIONGET = 'T'
		</if>
		<if test='dreamget=="T"'>
			AND DREAMGET = 'T'
		</if>
		<if test='hopeget=="T"'>
			AND HOPEGET = 'T'
		</if>
		
		<if test='dateloss=="T"'>
			AND DATEGET = 'F'
		</if>
		<if test='marryloss=="T"'>
			AND MARRYGET = 'F'
		</if>
		<if test='babyloss=="T"'>
			AND BABYGET = 'F'
		</if>
		<if test='houseloss=="T"'>
			AND HOUSEGET = 'F'
		</if>
		<if test='relationloss=="T"'>
			AND RELATIONGET = 'F'
		</if>
		<if test='dreamloss=="T"'>
			AND DREAMGET = 'F'
		</if>
		<if test='hopeloss=="T"'>
			AND HOPEGET = 'F'
		</if>
	</select
	>
	<select id="selectAllSearch" resultType="search">
		SELECT * FROM SEARCH
	</select>
	
	<select id="selectSearchById" parameterType="String" resultType="search">
		SELECT * FROM SEARCH WHERE searchmem=#{id} AND KEYWORD != '.X' order by searchdate desc
	</select>
	
	<select id="selectAdvs" resultType="companybasic">
		select 
		c.cid "cid", logo, cname, industry, location, sales, employee, mission, discription, interestedtimes, 
		dateget, marryget, babyget, houseget, relationget, dreamget, hopeget 
		from advCompany a, companybasicinfo c 
		where a.cid = c.cid
		order by a.cost desc
	</select>

	<insert id="insertSearch">
		INSERT INTO search VALUES((select nvl(max(sid), 0)+1 from search), sysdate, #{keyword},#{searchMem})
	</insert>
	

</mapper>
