<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemBasicInfoDAO">

	<select id="getOneTest" parameterType="int" resultType="memBasicInfo">
		SELECT *
		FROM test
		WHERE id = #{id}
	</select>
	
	<select id="loginCheck" parameterType="String" resultType="memBasicInfo">
		SELECT * FROM memBasicInfo where id = #{id}
	</select>

	<select id="getMemBasicInfo" resultType="memBasicInfo">
		<![CDATA[
		SELECT id,password,name, to_char(birth,'yyyy"년"mm"월"dd"일"') "birth", gender, address, email, picture,
		dateCon,marryCon,babyCon,houseCon,relationCon,dreamCon,hopeCon from MEMBASICINFO where id = #{id}
		]]>
	</select>
	
	<insert id="insertMember" parameterType="memBasicInfo" >
		
		insert into memBasicInfo values(
			#{id},
			#{password},
			#{name},
			#{birth},
			#{gender},
			#{address},
			#{email},
			'Guest.jpg',
			#{dateCon},
			#{marryCon},
			#{babyCon},
			#{houseCon},
			#{relationCon},
			#{dreamCon},
			#{hopeCon}
		)
	</insert>
	
	<update id="updateMember" parameterType="memBasicInfo">
		
	</update>

</mapper>
