<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemIdCheckDao">
	
	<select id="getCheck" parameterType="String" resultType="checkid">
		SELECT id FROM memBasicInfo where id = #{userId}
	</select>


	<!-- <insert id="insertKeyword">
		INSERT INTO memConcern VALUES(#{keyword},#{searchedNum})
	</insert> -->
</mapper>
