<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlotsDAO">
	<resultMap type="keywordplts" id="PlotsMap">
		<result column="id" property="id" />
		<result column="dateCon" property="dateCon" />
		<result column="marryCon" property="marryCon" />
		<result column="babyCon" property="babyCon" />
		<result column="houseCon" property="houseCon" />
		<result column="relationCon" property="relationCon" />
		<result column="dreamCon" property="dreamCon" />
		<result column="hopeCon" property="hopeCon" />
	</resultMap>

	<select id="getAll" resultType="keywordplts">
		SELECT * FROM plots
	</select>

	<select id="getById" parameterType="String" resultType="keywordplts">
		SELECT *
		FROM plots
		WHERE memid = #{memid}
	</select>


	<insert id="insertPlts">
		INSERT INTO plots
		VALUES(#{memid},#{plotpng})
	</insert>
</mapper>
