<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlotsDAO">
 	<resultMap type="plts" id="PlotsMap">
		<result column="memid" property="memid" />
		<result column="cid" property="cid" />
		<result column="plotpng" property="plotpng" />
		<result column="SavedTime" property="savedTime" />
	</resultMap>

	<select id="getAll" resultMap="PlotsMap"><!-- resultMap="PlotsMap" -->
		SELECT * FROM plots
	</select>

	<select id="getById"  resultMap="PlotsMap"><!-- parameterType="String"  -->
		SELECT *
		FROM plots
		WHERE memid = #{memid}  AND cid=#{cid}
	</select>


	<insert id="insertPlts" parameterType="plts">
		INSERT INTO plots
		VALUES((select nvl(max(pid), 0)+1 from plots), #{memid},#{cid},#{plotpng},sysdate)
	</insert>
	
	<update id="updatePlts">
		UPDATE plots
		SET plotpng = #{plotpng} WHERE memid = #{memid}
	</update>
</mapper>
