<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="model.PlotsDao">
 	<resultMap type="model.PlotsDto" id="PlotsMap">
		<result column="memid" property="memid" />
		<result column="plotpng" property="plotpng" />
		<result column="savedtime" property="savedtime" />
	</resultMap>

	<select id="getAll" resultType="plts">
		SELECT * FROM plots
	</select>

	<select id="getById" parameterType="String" resultType="plts">
		SELECT *
		FROM plots
		WHERE memid = #{memid}
	</select>


	<insert id="insertPlts">
		INSERT INTO plots
		VALUES(#{memid},#{plotpng})
	</insert>
	
	<update id="updatePlts">
		UPDATE plots
		SET plotpng = #{plotpng} WHERE memid = #{memid}
	</update>
</mapper>
