<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewDAO">	<!-- 임의로 지정하는 이름 -->
 	
 	<resultMap type="review" id="ReviewMap">
		<result column="writer" property="writer" />
		<result column="cid" property="cid" />
		<result column="content" property="content" />
		<result column="reviewdate" property="reviewdate" />
	</resultMap>
	
	<select id="getReview" parameterType="int" resultMap="ReviewMap">
		SELECT * FROM companyreview WHERE cid = #{cid}
	</select>
	
	<select id="selectReview" >
		SELECT * FROM companyreview
	</select>
	
	<insert id="insertReview">
		INSERT INTO companyreview
		VALUES(#{writer},#{cid},#{content},sysdate)
	</insert>

</mapper>
