<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewDAO">	<!-- 임의로 지정하는 이름 -->
	<select id="getReview" parameterType="int" resultType="review">
		SELECT * FROM companyreview WHERE cid = #{cid}
	</select>

	<select id="selectReview">
		SELECT * FROM companyreview
	</select>

	<insert id="insertReview">
		INSERT INTO companyreview
		VALUES((select nvl(max(rid),0)+1 from companyreview), #{writer},#{cid},#{content},sysdate)
	</insert>

	<select id="selectCount" parameterType="int" resultType="java.lang.Integer">
		SELECT count(*) as cnt from companyreview where cid=#{cid}
	</select>

</mapper>
